<%- include('partials/header.ejs') %>

    <script src="/javascripts/admin.js"></script>

    <div class="container-admin">
        <div class="sidebar">
            <h3 class="sidebar-section">Main</h3>
            <hr>
            <ul>
                <li id="overview"><img src="/images/icon_dashboard.png" alt="" class="sidebar-icon"><button class="btn-admin">Apercu</button></li>
                <li id="language"><img src="/images/icon_language.png" alt=""class="sidebar-icon"><button class="btn-admin">Language</button></li>
            </ul>
        </div>
    
        <div class="container-section">
            <div id="section-overview" class="section">    
                    <div class="medium-stat">
                        <img src="" alt="">
                        <p class="medium-stat-result"><b>20</b></p>
                        <p>Utilisateurs</p>
                    </div>
                    <div class="medium-stat">
                        <img src="" alt="">
                        <p class="medium-stat-result"><b>20</b></p>
                        <p>Partie jouée</p>
                    </div>
                    <div class="medium-stat">
                        <img src="" alt="">
                        <p class="medium-stat-result"><b>20</b></p>
                        <p>Utilisateurs</p>
                    </div>
            </div>

            
            <div id="section-language" class="section">
                <p>test language</p>
            </div>
        </div>
    </div>
    



    </body>
</html>