<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
    <script type="module" src="/javascripts/game.js"></script>
    <script type="module" src="/javascripts/factory.js"></script>
</head>
<body>
    <div class="container-gameUI">
        <p><%= params['language'] %> </p>
        <p><%= params['difficulty'] %> </p>
        <canvas height="500px" width="1200px" id="canvas"></canvas>

    </div>

    
</body>
</html>