
<%- include('partials/header.ejs') %>


    <div class="home-history">
        <h1>Bienvenu <%= currentUser[0].username %>  </h1>
        <p>Consultez l'historique de vos parties précédentes</p> 
        <a href="<%= currentUser[0].url %> " class="button-link button-special">Historique</a>     
    </div>

    <div class="container-home">
        <div class="home-game-type">   
            <h2>Normal</h2>
            <img src="/images/mode_normal.png" alt="icon-normal">
            <p>Testez votre rapidité selon un language et une difficulé choisie. Écrivez le plus rapidement possible 10 expressions.</p>
            <a href="/game/prep" class="button-link">Commencer</a>
        </div>
    
        <div class="home-game-type">
            <h2>Aventure</h2>
            <img src="/images/mode_adventure.png" alt="icon-adventure">
            <p>Le test ultime pour tester votre rapidité. Tous les langages et les difficultés mélangées dans une même partie. </p>
            <a href="/adventure" class="button-link">Commencer</a>
        </div>

        <div class="home-game-type">
            <h2>...</h2>
            <img src="/images/mode_paper.png" alt="icon-paper">
            <p>Arrive près de chez vous dans peu de temps. </p>
            <a href="" class="button-link">Commencer</a>
        </div>
    </div>





    
    </body>
</html>