
<%- include('partials/header.ejs') %>


    <div class="home-history">
        <p>Consultez l'historique de vos parties précédentes <a href="<%= currentUser[0].url %> " class="button-link">-></a> </p>      
    </div>

    <div class="container-home">
        <div class="home-game-type">   
            <h2>Normal</h2>
            <img src="/images/mode_normal.png" alt="">
            <p>Testez votre rapidité selon un language et une difficulé choisi. Écrivez le plus rapidement possible 10 expressions.</p>
            <a href="/game/prep" class="button-link">Commencer</a>
        </div>
    
        <div class="home-game-type">
            <h2>Adventure</h2>
            <img src="/images/mode_adventure.png" alt="">

            <p>Le test ultime pour tester votre rapidité. Tous les languages et les difficultés mélangées dans une partie </p>
            <a href="" class="button-link">Commencer</a>
        </div>

        <div class="home-game-type">
            <h2>...</h2>
            <img src="" alt="">

            <p>Arrive près de chez vous dans peu de temps </p>
            <p>asdasdasd</p>
            <a href="" class="button-link">Commencer</a>
        </div>
    </div>





    
    </body>
</html>