
<%- include('partials/header.ejs') %>


    <p>Welcome back <%= currentUser[0]['username'] %> </p>
    <a href="/">Se déconnecter</a>
    <a href="/game/prep">Trad</a>
    <a href="/">aventure</a>
    <a href="/">Historique</a>


    
    </body>
</html>