<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav class='navbar'>
      <div class='navbar-logo'></div>
      <div class='navbar-links'>
        <ul class='navbar-links-list'>
          <div class='navbar-button'>
            <li><a href="/director/login" name="login">Se connecter</a></li>
          </div>
          <li><a href="" name="inscription">S'inscrire</a></li>
          <li><a href="" name="details">Service</a></li>
          <li><a href="" name="contact">Nous contacter</a></li>
        </ul>
        
      </div>
    </nav>



    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    
  </body>
</html>
