<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="icon" href="/images/logo/logo.png">
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="body">
    <nav class="navbar">
      <p></p>
      <div class="navbar-links">
        <ul class="navbar-links-list">
          <li>
            <a href="/login" name="login" class="navbar-link-color"
              >Se connecter</a
            >
          </li>
          <li>
            <a href="/signup" name="inscription" class="navbar-link-color"
              >S'inscrire</a
            >
          </li>
          <li>
            <a href="" name="details" class="navbar-link-color">Service</a>
          </li>
          <li>
            <a href="" name="contact" class="navbar-link-color"
              >Nous contacter</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="page" id="page1">
      <div id="background-index"></div>
      <div class="title">
        <h1>SHIFT</h1>
        <h2>Développer votre rapidité</h2>
      </div>
    </div>

    <div class="page" id="page2">
      <div class="container">
        <div class="body-desc">
          <div class="body-desc-image">
            <img src="/images/shift_desc.jpg" alt="personne lente au clavier" />
            <div class="body-desc-text">
              <p>
                asdfjklsdadjflkjsd asldfjlk asjdflkd jaslkjfdlk ajslkf jdakls
                asdfjklsdadjflkjsd asldfjlk asjdflkd jaslkjfdlk ajslkf jdakls
                asdfjklsdadjflkjsd asldfjlk asjdflkd jaslkjfdlk ajslkf jdakls
                asdfjklsdadjflkjsd asldfjlk asjdflkd jaslkjfdlk ajslkf jdakls
                asdfjklsdadjflkjsd asldfjlk asjdflkd jaslkjfdlk ajslkf jdakls
              </p>
              <a href="" class="button-link">Allez vers l'inscription</a>
            </div>
          </div>
        </div>
      </div>
      <div class="container section-positive">
        <div class="body-positive">
          <div class="positive-container positive-left-side">
            <div id="positive1" class="positive">
              <img src="/images/positive_rapide.jpg" alt="" />
              <div class="positive-text">
                <h3>Devenez la machine!</h3>
                <p>
                  Pratiquez-vous à écrire des expressions que vous allez employé
                  plusieurs fois dans votre carrière.
                </p>
              </div>
            </div>
          </div>
          <div class="positive-container positive-right-side">
            <div id="positive2" class="positive">
              <div class="positive-text">
                <h3>Multilangage</h3>
                <p>
                  Pratiquez-vous à écrire des expressions que vous allez employé
                  plusieurs fois dans votre carrière.
                </p>
              </div>
              <img src="/images/positive_language.jpg" alt="" />
            </div>
          </div>
          <div class="positive-container positive-left-side">
            <div id="positive3" class="positive">
              <img src="/images/positive_expressions.jpg" alt="" />
              <div class="positive-text">
                <h3>Des expressions courament utlilisées</h3>
                <p>
                  Pratiquez-vous à écrire des expressions que vous allez employé
                  plusieurs fois dans votre carrière.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page-break">
      <p>Commencer votre aventure des aujourd'hui!</p>
      <a href="/signup">Cliquer ici</a>
      <p>pour l'inscription</p>
    </div>


    <%- include('partials/footer.ejs') %>

