<%- include('partials/header.ejs') %>
<script src="/javascripts/login.js"></script>
    

<body class="body-login">
    <div class="container-login">
        <form action="/login/verif" method="post" class="form-login">
            <div class="form-login-input">
                <img src="/images/logo/logo.png" alt="logo-shift" id="login-logo">
                <% if (typeof(error) != "undefined") { %> 
                    <p class="error"><%= error %> </p>
                <% } %>
                <input type="text" for="username" name="username" placeholder="Nom d'utilisateur" id="username" value=<%=typeof(username) != "undefined" ? username : ""  %> >
                <input type="password" for="password" name="password" placeholder="Mot de passe" id="password" >
                <button id="login_confirm" type='submit'>Se connecter</button>
                <p id="login-signup">Vous n'avez pas de compte? <a href="/signup">Inscription</a> </p>

            </div>
            <div class="form-login-info">
                <h2>Êtes-vous prêt à tester votre rapidité?</h2>
                <p>Le mode normal vous permet de tester votre rapidité selon un langage et une difficulté choisie</p>
                <p>Le mode aventure contient tous les langages et les difficultés disponible. Accumulez le plus de point sans mourir</p>
            </div>

        </form>       
    </div>

   


</body>
</html>