<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><%= title %> </p>
    <input type="text" for="username" name="username" placeholder="Nom d'utilisateur">
    <input type="text" for="password" name="password" placeholder="Mot de passe">
    <button>Se connecter</button>
</body>
</html>