<%- include('partials/header.ejs') %>
<script src="/javascripts/login.js"></script>
    

<div class="login-goback">
    <img src="/images/arrow.png" alt="" id="login-arrow">
    <a href="/">Retour au menu</a>
</div>
<body class="body-login">
    <div class="container-login">
        <img src="/images/logo/logo.png" alt="logo-shift">
        <h1>Connexion</h1>
        <form action="/login/verif" method="post" class="form-login">
            <input type="text" for="username" name="username" placeholder="Nom d'utilisateur" id="username" value=<%=typeof(username) != "undefined" ? username : ""  %> >
            <input type="password" for="password" name="password" placeholder="Mot de passe" id="password" >
            <button id="login_confirm" type='submit'>Se connecter</button>
            <% if (typeof(error) != "undefined") { %> 
                <p class="error"><%= error %> </p>
            <% } %>
        </form>       
    </div>

   


</body>
</html>