<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <p><%= title %> </p>
    <form action="/director/login/verif" method="post">
        <input type="text" for="username" name="username" placeholder="Nom d'utilisateur" id="username">
        <input type="password" for="password" name="password" placeholder="Mot de passe" id="password" >
        <button id="login_confirm" type='submit'>Se connecter</button>
    </form>
   

    <% if (error != "") { %> 
        <p class="error"><%= error %> </p>
    <% } %>

</body>
</html>