/*
 Description: Shift Website 
 Author: Antoine Auger-Maroun
*/
:root {
  --navbar-height: 8vh;
  --primaryColor: #13355a;
  --secondaryColor: whitesmoke;
  --menuColor: rgb(216, 214, 214);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.body {
  background: #4b4e4e;
  background: linear-gradient(0deg, #4b4e4e 0%, whitesmoke 100%);
  font-size: 1.5em;
  font-family: "Caveat", cursive;
  font-weight: 450;
}

.body-header {
  font-size: 1.5em;
  font-family: "Caveat", cursive;
  font-weight: 450;
}

.body-login {
  background: white;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-size: 1.5em;
  font-family: "Caveat", cursive;
  font-weight: 450;
}

a {
  text-decoration: none;
}

.body img:not(.arrow, .social-icon, .icon-positif, .icon-language-available) {
  border: 5px var(--primaryColor) solid;
  box-shadow: 1px 2px 5px grey;
}

.error {
  color: red;
  text-align: center;
  width: fit-content;
}

/*****************************************************************
/* //*NAVBAR
/***************************************************************/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: var(--navbar-height);
  line-height: var(--navbar-height);
  text-align: center;
  vertical-align: middle;
}

.navbar-link-color {
  color: var(--primaryColor);
}

.navbar-logo {
  margin-left: 15px;
}

.navbar-links {
  display: flex;
}

.navbar-links-list {
  display: inherit;
  flex-direction: row;
  justify-content: center;
  padding: 0 15px;
}

.navbar-links-list > * {
  margin: 0 5vh;
}

.navbar-links-list > li:first-child > a {
  color: white;
  background: var(--primaryColor);
  border-radius: 16px;
  padding: 2px 10px;
}

.navbar-button {
  height: calc(var(--navbar-height) / 2);
  background-color: white;
  border-radius: 16px;
}

.navbar-links-list > li:first-child > a:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.navbar-links-list > li:not(:first-child):hover {
  text-decoration: underline 3px white;
}

#background-index {
  display: flex;
  justify-content: center;
  background-image: url(../images/test.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75%;
  width: auto;
  margin: 100px;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.title {
  color: white;
  padding-top: 50px;
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.title > h1 {
  font-size: 5em;
}

.title > h2 {
  overflow: hidden;
  font-size: 2em;
  animation: typewriter 4s steps(44) 1s 1 normal both;
}

.body-desc {
  padding: 350px 50px 350px 50px;
  display: flex;
  justify-content: center;
}

.body-desc-image {
  display: flex;
  flex-direction: row;
}

.body-desc-text {
  margin: 20px 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.page {
  height: 100vh;
}

.page-break {
  height: 15vh;
  background-color: var(--primaryColor);
}

#page2 {
  height: fit-content;
  background-color: whitesmoke;
}

#page3 {
  background-color: var(--secondaryColor);
}

.body-positive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 250px 50px;
}

/*****************************************************************
/* //*TEST
/***************************************************************/
.container-positif {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  padding: 100px 0;
}

.one-positif {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  line-height: 35px;
}

.one-positif > img {
  height: 150px;
  width: 150px;
  margin: 25px 0;

}

.one-positif > h2 {
  white-space: nowrap;
  padding: 15px 0;
  text-decoration: underline 2px var(--primaryColor);
  text-underline-offset: 10px;
}


.container-more-info {
  padding: 100px;
  background-color: rgb(236, 236, 236);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 1px 1px 3px gray;
}

.one-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  font-size: 20px;
}

.one-info > h2{
  margin-bottom: 10px;
}

.container-mode {
  padding: 100px;
  display: flex;
  flex-direction: column;
  background-color: rgb(182, 177, 177);
}

.mode-presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mode-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  width: 400px;
  margin: 0 auto;
  color: white;
}

#mode-desc{
  height: 150px;
}

#mode-title {
  color: var(--primaryColor);
}

.arrow {
  height: 100px;
  width: 100px;
  align-items: center;
}

.arrow:hover {
  background-color: whitesmoke;
  border-radius: 50%;
}

#picture {
  height: 500px;
  width: 700px;
  background-size: cover;
}

.container-lang-disp {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px;
}

.all-lang {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.one-lang > img {
  height: 100px;
  width: 100px;
}

.one-lang {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.page-break {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 45px;
  box-shadow: 5px 5px 5px 5px black;
}

.page-break > p {
  height: auto;
}

.page-break > a {
  color: white;
  text-decoration-line: underline;
  border-radius: 16px;
  width: fit-content;
  padding: 10px;
}

.button-link {
  margin: 25px;
  background-color: var(--primaryColor);
  padding: 10px 15px;
  border-radius: 24px;
  color: white;
  width: fit-content;
  border: 1px var(--primaryColor) solid;
}

.button-link:hover {
  background-color: white;
  border: 1px white solid;
  color: var(--primaryColor);
}

.button-special {
  border: 1px white solid;
  background-color: white;
  color: var(--primaryColor);
}

.button-special:hover {
  background-color: var(--primaryColor);
  border: 1px var(--primaryColor) solid;
  color: white;
}

.header {
  background-color: var(--primaryColor);
}

.navbar-link-color-header {
  color: white;
}

/*
* Footer
*/
footer {
  background-color: #3f3e3e;
  width: 100%;
  height: fit-content;
  color: white;
}

.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.footer-links > a > img {
  border: none;
  box-shadow: none;
  height: 50px;
  width: 50px;
  margin: 0 10px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.footer-info > p {
  margin-top: 50px;
}

.footer-info-copyright {
  padding-top: 50px;
  text-align: center;
  font-size: 20px;
}

.footer-info-other {
  display: flex;
  flex-direction: row;
  margin: 0 5px;
  font-family: "Courier New", Courier, monospace;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  color: white;
  vertical-align: middle;
}

.footer-info-other > a {
  width: 75%;
  word-wrap: break-word;
}

/*****************************************************************
/**ADMIN
/***************************************************************/

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #0f1f31;
  width: 10%;
  height: calc(100vh - var(--navbar-height));
  color: white;
}

.sidebar > ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 100%;
}

.sidebar > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 25px 0;
  width: inherit;
  padding: 10px 0;
  height: 40px;
}

.sidebar > hr {
  width: 80%;
}
.sidebar-section {
  margin: 100px 20px 0;
}

.sidebar > ul > li:hover {
  background-color: var(--primaryColor);
}

.btn-admin-selected {
  background-color: var(--primaryColor);
}

.container-admin {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  
}

.container-section {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.btn-admin {
  background: none;
  border: none;
  width: inherit;
  height: inherit;
  color: gray;
  font-size: 20px;
  align-items: left;
  justify-content: left;
  text-align: left;
  padding-left: 15px;
}

.section {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  width: inherit;
  justify-content:space-evenly;
}

.actif {
  visibility: visible;
}

.sidebar-icon {
  height: 35px;
  width: 35px;
  margin-left: 15px;
}



.medium-stat{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 50px;
  margin-left:25px;
  padding: 20px;
  background-color:white;
  width: 20%;
  height: 50px;
  line-height: 15px;
  align-items:center;
}

.medium-stat>*{
  margin:0 10px;
}

.medium-stat-result{
  font-size:40px;

}



/*
*signup
*/
.signup-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin: 100px 100px;
}

.signup-background {
  background-image: url("/images/abstractDesign.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
  height: 100vh;
  width: auto;
}

.signup-form {
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.signup-entry {
  display: flex;
  flex-direction: column;
  margin: 50px;
  justify-content: center;
  align-items: center;
}

.signup-entry > * {
  padding: 5px;
  margin: 15px;
  width: 100%;
}

/*
*Login page
*/
.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-login > img {
  margin-bottom: 50px;
}

.form-login {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 600px;
  width: 1000px;
  margin: 100px auto;
  box-shadow: 2px 1px 5px #236cbb;
}

.form-login-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  width: 55%;
  box-shadow: 1px 1px 5px gray;
}

.form-login-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #235994;
  background: linear-gradient(
    117deg,
    #235994 2%,
    rgba(19, 53, 90, 0.984178) 54%
  );
  height: inherit;
  width: 45%;
  color: white;
}

.form-login-info > * {
  padding: 15px;
  margin: 0px 15px;
}

.form-login-input > *:not(#login-logo, .error, #login-signup) {
  margin: 35px;
}

#login-signup {
  font-size: smaller;
}

.form-login-input > input {
  padding: 10px;
  margin: 35px;
  width: 25%;
  border: none;
  border-bottom: 2px solid gray;
  background-color: whitesmoke;
}

.form-login-input > button {
  padding: 15px;
  margin: 10px;
  width: 25%;
}

.login-goback {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-border {
  padding: 15%;
  /*Value to change for mobile layout*/
  border-radius: 16px;
}

#login-arrow {
  height: 50px;
  width: 50px;
}

#signup-login {
  font-size: 18px;
}

/*
* Home Page
*/
.home-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2d68ac;
  height: 300px;
  margin: 0 auto;
  font-size: 25px;
  color: white;
}

.home-history > * {
  margin: 20px;
}

.container-home {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(180deg, var(--menuColor) 50%, white 50%);
  box-shadow: white 5px 0px 5px;
}

.home-game-type {
  margin: 50px 20px;
  display: flex;
  flex-direction: column;
  width: 10%;
  word-wrap: break-word;
  text-align: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 35px;
  justify-content: space-around;
  height: fit-content;
  border: 2px solid var(--primaryColor);
  box-shadow: 0px 0px 5px 1px #2d68ac;
}

.home-game-type > p {
  height: 200px;
}

.home-game-type > a {
  border: 1px solid whitesmoke;
}

.home-game-type > img {
  height: 50px;
  width: 50px;
  margin: 10px 0;
}

.home-game-type > button {
  background-color: var(--primaryColor);
  border-radius: 16px;
  color: white;
  padding: 15px;
}

/*
* History page
*/
.overview-profil {
  padding: 50px 100px;
}

.container-history-stat {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  height: fit-content;
  width: 100%;
  flex-wrap: wrap;
}

.history-background {
  background-color: white;
  padding: 15px;
  box-shadow: 1px 0px 5px grey;
}

.small-stat {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 50px;
}

.small-stat-result {
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
}

.empty-history{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top:50px;
}

.history-overview {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  width: inherit;
  padding: 0 auto;
  margin: 50px 0;
}

.container-stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: inherit;
  padding: 0 auto;
}

.overview-stats {
  margin: 0 50px;
  height: 400px;
}

.overview-graph {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  width: inherit;
  padding: 0 auto;
  margin: 50px auto;
}

.canvas-chart {
  width: 700px !important;
  height: 400px !important;
}

.canvas-chart-sm {
  width: 300px !important;
  height: 300px !important;
}

.container-history {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.player-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30vh;
  background-color: #d8d6d6;
  box-shadow: black 1px 1px 5px;
}

.player-info > div {
  margin: auto;
}

#profil-icon {
  height: 150px;
  width: 150px;
  border-radius: 16px;
}

.info {
  background-color: #b4afaf;
  padding: 15px;
  border-radius: 16px;
}

.language-count {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.one-count {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 75px;
  text-align: center;
  font-size: 25px;
  margin: 0 50px;
}

.player-stats {
  display: flex;
  flex-direction: row;
  margin: 50px;
  justify-content: space-around;
}

.player-game-played {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  overflow-y: scroll;
  height: 400px;
}

.player-game-played::-webkit-scrollbar {
  display: none;
}

.player-game-played > a {
  color: black;
}

.player-game-played > a:visited {
  color: black;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 5px;
}

#headers {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  font-weight: 500;
  font-size: larger;
}

.game:hover:not(#headers) {
  background-color: grey;
}

.game:visited {
  color: black;
}

.game > * {
  flex-basis: 10%;
  flex-wrap: wrap;
}

/*
* History details page
*/
.details-words {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 50px auto;
}

.one-word {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  margin: 50px auto;
  padding: 75px 15px;
  background-color: whitesmoke;
  border-radius: 16px;
  box-shadow: gray 2px 3px 5px;
}

.one-word-info {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.one-word-word {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.one-word-word > p {
  min-width: 15px;
}

.letter-word {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.char {
  padding: 5px;
  width: 15px;
  text-align: center;
  border-radius: 16px;
}

.green {
  background-color: rgba(0, 255, 0, 0.6);
}

.yellow {
  background-color: rgba(255, 255, 0, 0.6);
}

.red {
  background-color: rgba(255, 0, 0, 0.6);
}

/*
*Pregame page
*/
.container-pregame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
}

.container-pregame button {
  width: 100%;
  padding: 15px;
}

.container-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 50px auto;
}

.language {
  padding: 15px 15px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  height: 100%;
  width: 10%;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  margin: 0 50px;
  border: 3px solid white;
  box-shadow: 1px 1px 5px grey;
}

.language > img {
  height: 75px;
  width: 75px;
  border: none;
  box-shadow: none;
  pointer-events: none;
  cursor: default;
}

.language > p {
  pointer-events: none;
  cursor: default;
}

.pregame-title {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 60%;
  margin: 0 auto;
}

.pregame-title > h2 {
  margin-top: 50px;
  margin-left: 25px;
  justify-content: flex-start;
}

.hr-normal {
  border-top: 3px double #8c8b8b;
  width: 100%;
}

.pregame-language {
  width: 50%;
}

.pregame-confirm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.difficulty {
  padding: 35px 15px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  height: 100%;
  width: fit-content;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  margin: 0 50px;
  border: 3px solid white;
  box-shadow: 1px 1px 5px grey;
}

.difficulty > img {
  height: 75px;
  width: 75px;
  border: none;
  box-shadow: none;
  pointer-events: none;
  cursor: default;
}

.difficulty > p {
  pointer-events: none;
  cursor: default;
}

/*
* Normal Game
*/
.container-gameUI {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#canvas {
  margin: 0 auto;
}

.container-adventure {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

/*
* Result Page
*/
.container-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 50px auto 50px auto;
  padding: 50px;
  border: 4px solid var(--primaryColor);
  border-radius: 16px;
  background-color: whitesmoke;
}

.container-result > h1 {
  padding: 0 0 50px 0;
}

.result-stats {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding-top: 50px;
}

.result-stats-circle {
  margin: 20px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  text-align: center;
  color: white;
  font: 32px Arial, sans-serif;
}

#result-wrong {
  border: red 2px solid;
  background-color: red;
}

#result-corrected {
  border: #d4d419 2px solid;
  background-color: #d4d419;
}

#result-good {
  border: green 2px solid;
  background-color: green;
}

/*This code was found on the side CSS-Tricks
*https://css-tricks.com/snippets/css/typewriter-effect/
*/
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
